@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* Univarsal Design */


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 8%;

}


.btn {
    background-color: #E55473;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
}

.regular-p-tag {
    font-size: 16px;
    font-weight: 400;
    margin: 25px 0;
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    line-height: 25px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: #272727;
    text-align: center;
}

.sub-title {
    font-size: 18px;
    font-weight: 700;
    color: #272727;
    margin: 30px 0;

}

/* Header Section Design */

#header-section {
    /* background-color: #E55473; */
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding-top: 50px;

}

.banner-text-container {
    width: 50%;
}

.banner-title {
    font-size: 60px;
    font-weight: 900;
    color: #272727;
}

.banner-description {
    text-align: left;
}

.banner-image-container {
    height: 580px;
    width: 460px;


}

.banner-image {
    height: 100%;
    width: 100%;
}

/* Our Featured Flowers Section Design */
#feature-section {
    padding: 7.5% 0 0;
}

.featured-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.featured-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.featured-card-image {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 350px;
    width: 300px;
    padding: 30px 20px 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.featured-card-image img {
    height: 90%;
    width: 80%;
}

.card-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.card-2 {
    background-color: rgba(5, 151, 160, 0.15);
    align-items: center;

}

.card-2 img {
    height: 70%;
}

.card-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.featured-card-text {
    box-shadow: 0px 1px 0px 0px #272727;
}

/* Our Featured Flowers Section [Insight Banner] Design  */

.service-insight {
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    padding: 6% 80px;
    margin: 80px 0;

}

.insight-card {
    text-align: center;
}

.insight-card-img {
    height: 65px;
    width: 65px;
}

.insight-card-text {
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 30px;
}


/* Our Latest blog post Section Design  */

#blog-section {
    height: 100vh;
    padding: 5% 0 10%;
}

#blog-section .regular-p-tag {
    margin: 15px 0;
}

.post-card-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.post-card {
    text-align: center;
    background-color: rgba(229, 84, 115, 0.20);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    padding-bottom: 15px;
}



.post-cta small {
    color: rgba(39, 39, 39, 0.6);
}

.post-icon {
    font-size: 14px;
    margin-right: 5px;
}

.post-cta .btn {
    margin: 15px 0;
}


.post-cta .sub-title {
    margin: 15px 0 2px;
}


/* Our Hot Sale Section Design  */


#hot-sale-banner {

    background-color: rgba(229, 84, 115, 0.1);
    height: 50vh;
    padding: 6% 0;
}


.sale-banner-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hot-sale-text-container {
    text-align: center;
    width: 50%;

}

.hot-sale-title {
    font-weight: 900;
    font-size: 28px;
}

.hot-sale-title span {
    color: #E55473;
}

.hot-sale-image {
    height: 300px;
    width: 240px;
}




/* Instagram Section Design  */

#instagram-section {
    padding: 7% 0;
}

.insta-card-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 80px;
}

.image-card {
    height: 290px;
    width: 250px;
}

.image-card img {
    height: 100%;
    width: 100%;
}



/* Subscribe Section Design aka Get the Deals */

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('asset/Rectangle\ 9.png');
    background-size: cover;
    width: 100%;
    height: 350px;
    border-radius: 8px;
}

.cupon-title {
    font-weight: 900;
}

.cupon-text {
    margin: 10px 0 40px;
}

.subscribe-cta {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input {
    background-color: white;
    color: rgba(39, 39, 39, 0.6);
    border: none;
    padding: 15px 10px;
    border-radius: 8px;
    width: 45%;
}


/* footer Section Design */
#footer {
    background-color: #111010;
    padding: 8% 0;
    text-align: center;
}

.footer-title {
    color: #E55473;
    font-weight: 900;
}

#footer span {
    color: #FFFFFF;
}


.footer-text {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin: 30px 0;
}

#footer small {
    color: rgba(255, 255, 255, 0.4);
}